<!DOCTYPE html>
<html>
<head>
<meta http-equiv="refresh" content="300">
<title>GAK ticket watch</title>
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><circle cx=%2250%22 cy=%2250%22 r=%2240%22 fill=%22%23d9534f%22/></svg>">
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        margin: 0;
        padding: 20px;
    }
    h1 {
        color: #d9534f;
    }
    .event {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .event p {
        margin: 5px 0;
    }
    img {
        display: block;
        margin: 20px auto;
        max-width: 100%;
        height: auto;
    }
</style>
</head>
<body>
{% for event in events %}
<div class="event">
    <h1>{{event["title"]}}</h1>
    <p>Available: {{event["avail"]}}</p>
    <p>Sold (w/o Sponsors, VIP, etc.): {{event["sold"] + 2333 + 285 + 296}}</p>
    <p>Sold (w/o est. Season tickets, Sponsors, VIP, etc.): {{event["sold"] - 2864}}</p>
    <p>Sold (w est. Sponsors, VIP, etc.): {{event["sold"] + 393 + 2333 + 285 + 296}}</p>
</div>
{% endfor %}

<img src='data:image/png;base64, {{img}}'/>

</body>
</html>
<!-- Source code: https://github.com/sigttou/gak-parsers/ -->
